.movies {
  width: calc(100% - 140px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.movies__button-more {
  cursor: pointer;
  margin: 60px auto 116px auto;
  color: white;
  background-color: #2f2f2f;
  border: none;
  width: 320px;
  min-height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}
@media screen and (max-width: 1279px) {
  .movies {
    width: calc(100% - 60px);
  }
  .movies__button-more {
    margin-top: 78px;
  }
}
@media screen and (max-width: 767px) {
  .movies {
    width: calc(100% - 20px);
  }
  .movies__button-more {
    width: 240px;
    margin-top: 70px;
  }
}
