.error-message {
  position: fixed;
  top: 0;
  right: calc(50% - 175px);
  display: flex;
  margin: 0;
  min-height: 46px;
  background-color: #2f2f2f;
  width: 350px;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
.error-message_show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.3s, opacity 0.3s linear;
}
.error-message__title {
  margin: auto;
  height: 100%;
  overflow-wrap: anywhere;
  text-align: center;
  color: #ee3465;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}
