.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}

.navigation__profile-image {
  margin: 0;
  width: 12px;
  height: 14px;
  background-image: url(../../images/profile-icon.svg);
  background-repeat: no-repeat;
}
