.navigation {
  display: flex;
  align-items: center;
  margin: 0;
  width: 100%;
}

.navigation__profile-image {
  margin: 0;
  width: 12px;
  height: 14px;
  background-image: url(../../images/profile-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.navigation__button {
  margin: 0;
  margin-left: auto;
  cursor: pointer;
  background: none;
  background-image: url(../../images/navigation__button.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
  border: none;
  display: none;
}
@media screen and (max-width: 1279px) {
  .navigation__button {
    display: block;
  }
}
@media screen and (max-width: 767px) {
  .navigation__button {
    width: 38px;
  }
}
