.header {
  height: 74px;
  max-width: calc(100% - 140px);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.logo__image {
  background-image: url("../../images/logo.svg");
  width: 38px;
  height: 38px;
  margin: 18px 0 18px;
}
.header__auth-menu {
  display: flex;
  align-items: center;
  margin: 0;
}
.header__auth-link {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.header__auth-link_type_login {
  border-radius: 3%;
  min-width: 76px;
  height: 32px;
  color: black;
  background-color: #3ddc84;
  font-weight: bold;
  border: none;
}
.header__auth-link_type_register {
  margin-right: 30px;
  border-radius: 3%;
  min-width: 76px;
  height: 32px;
  background: none;
}
@media screen and (max-width: 1279px) {
  .header {
    max-width: calc(100% - 60px);
  }
}
