.filter-checkbox {
  display: flex;
  cursor: pointer;
  height: 20px;
}
.filter-checkbox__label {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-style: normal;
}
.filter-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-checkbox__front {
  margin: 0;
  margin-left: 11px;
  width: 34px;
  height: 18px;
  border: 1px solid #3ddc84;
  background-color: #3ddc84;
  border-radius: 20px;
}
.filter-checkbox__status {
  margin: 1px 0;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
}
.filter-checkbox__input:checked
  + .filter-checkbox__front
  .filter-checkbox__status {
  transform: translate(17px, 0);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.filter-checkbox__input:not(:checked)
  + .filter-checkbox__front
  .filter-checkbox__status {
  transform: translate(2px, 0);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.filter-checkbox__input:not(:checked) + .filter-checkbox__front {
  animation: checkbox_disabled 0.2s forwards;
}
@keyframes checkbox_disabled {
  from {
  }
  to {
    background: none;
    border: 1px solid #3ddc84;
    box-sizing: content-box;
  }
}
@media screen and (max-width: 767px) {
  .filter-checkbox__label {
    font-size: 11px;
  }
}
