.timeline {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(100px, 228px) minmax(100px, 1fr);
  width: 100%;
}
.timeline__container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline__period-title {
  margin: 0;
  width: 100%;
  font-size: 14px;
  line-height: 17px;
  background-color: #303030;
  max-width: 100%;
  min-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline__tech-title {
  margin: 0;
  margin-top: 14px;
  color: #8b8b8b;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
.timeline__period-title_style_green {
  margin: 0;
  background-color: #3ddc84;
  color: black;
}
@media screen and (max-width: 1279px) {
  .timeline {
    grid-template-columns: minmax(100px, 140px) minmax(100px, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .timeline {
    grid-template-columns: 100px minmax(100px, 1fr);
  }
  .timeline__period-title {
    min-height: 35px;
    font-size: 11px;
    line-height: 13px;
  }
  .timeline__tech-title {
    margin-top: 9px;
    font-size: 11px;
    line-height: 13px;
  }
}
