@import url("./vendor/fonts/inter.css");
body {
  margin: 0;
  background-color: #202020;
  color: #ffffff;
  font-family: "Inter", ‘Arial’, sans-serif;
}

button {
  font-family: "Inter", ‘Arial’, sans-serif;
}
.link {
  text-decoration: none;
  text-align: center;
  color: white;
}
.link:hover {
  opacity: 0.5;
}
.active {
  border-bottom: 2px solid white;
}
