@font-face {
  font-family: "Inter";
  src: url("./vendor/fonts/Inter-VariableFont_slnt-wght.ttf") format("opentype");
}

body {
  margin: 0;
  background-color: #202020;
  color: #ffffff;
  font-family: "Inter", ‘Arial’, sans-serif;
}
