.navigation-menu {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}
.navigation-menu__container {
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 100%;
  background-color: #202020;
}
.navigation-menu__list {
  height: calc(100vh - 105px);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 111px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation-menu__list-item {
  margin: 0;
  margin-bottom: 28px;
}
.navigation-menu__list-item_type_profile {
  margin: auto 0 91px;
}
.navigation-menu__link {
  margin: 0;
  padding-bottom: 4px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}
.navigation-menu__close-button {
  margin: 27px 27px 0 auto;
  align-self: flex-end;
  cursor: pointer;
  background: none;
  border: none;
  background-image: url(../../images/close.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 22px;
  min-height: 22px;
}
@media screen and (max-width: 767px) {
  .navigation-menu__container {
    width: 100%;
  }
  .navigation-menu__close-button {
    margin-top: 18px;
    margin-right: 18px;
  }
  .navigation-menu__list {
    margin-top: 105px;
  }
  .navigation-menu__list-item {
    margin-bottom: 24px;
  }
  .navigation-menu__list-item_type_profile {
    margin-bottom: 86px;
  }
  .navigation-menu__link {
    padding-bottom: 7px;
  }
}
